.footer-area{
    background-color: #04091e;
    padding: 80px 0;
    .single-footer-widget{
        h4 {
            color: $white !important;
            margin-bottom: 25px;
            font-weight: 500;
        }
        p{
            font-size: 14px;
            color: #777777;
            line-height: 1.5;
            text-align: left;
        }
    }
    .input-group-btn{
        .btn {
            font-size: 16px;
            border-radius: 0;
            background: $theme-color;
            color: $white;
        }
    }
    .social-widget{
        .footer-social{
            a{
                padding-right: 10px;
                i{
                    color: $white;
                }
            }
        }
    }
    .new-follow{
        @include media-breakpoint-up(lg){
            padding-left: 60px;
        }
    }
    .new-letter{
        @include media-breakpoint-down(sm){
            padding-top: 20px;
            padding-bottom: 40px;
        }
    }
}