<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <title>Known</title>

    <% include /src/include/styles.ejs %>

</head>

<body>

    <% include /src/include/header.ejs %>

        <section id="home">
            <div class="container">
                <div class="row animated fadeInRight">
                    <div class="col-lg-6 col-md-6 banner-left">
                        <h6>This is me</h6>
                        <h1>Philip Gilbert</h1>
                        <p> You will begin to realise why this exercise is called the Dickens Pattern with reference to the ghost showing
                            Scrooge some different futures.</p>
                        <div class="home-btn"> 
                            <a href="#" class="primary-btn text-uppercase">discover now</a>
                        </div>       
                    </div>
                    <div class="col-lg-6 col-md-6 banner-right d-flex align-self-end">
                        <img class="img-fluid" src="images/hero-img.png" alt="">
                    </div>
                </div>
            </div>   
        </section>   
        <section id="banner">
            <div class="container">
                <div class="row animated fadeInRight">
                    <div class="col-lg-6 col-md-6 banner-right d-flex align-self-end">
                        <img class="img-fluid" src="images/about-img.png" alt="">
                    </div>
                    <div class="col-lg-6 col-md-6 banner-left">
                        <h6>ABOUT ME</h6>
                        <h1>PERSONAL DETAILS</h1>
                        <p> Here, I focus on a range of items and features that we use in life without giving them a second thought. such as Coca
                        Cola. Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                        <div class="home-btn">
                            <a href="#" class="primary-btn text-uppercase">View Full Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
        <section id="facts-area">
            <div class="container">
                <div class="row animated fadeInRight d-flex justify-content-center">
                    <div class="col-lg-3 col-md-6 single-fact">
                        <h1 class="counter">2536</h1>
                        <p>Projects Completed</p>
                    </div>
                    <div class="col-lg-3 col-md-6 single-fact">
                        <h1 class="counter">6784</h1>
                        <p>Happy Clients</p>
                    </div>
                    <div class="col-lg-3 col-md-6 single-fact">
                        <h1 class="counter">2239</h1>
                        <p>Cups of Coffee</p>
                    </div>
                    <div class="col-lg-3 col-md-6 single-fact">
                        <h1 class="counter">434</h1>
                        <p>Real Professionals</p>
                    </div>
                </div>
            </div>
        </section>     
        <section id="portfolio">
            <div class="container">
                <div class="row animated fadeInRight">
                    <div class="menu-content pb-70 col-lg-8">
                        <div class="title text-center">
                            <h1 class="mb-10">Our Latest Featured Projects</h1>
                            <p>Who are in extremely love with eco friendly system.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="filters">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            <li data-filter=".vector">Vector</li>
                            <li data-filter=".raster">Raster</li>
                            <li data-filter=".ui">UI/UX</li>
                            <li data-filter=".printing">Printing</li>
                        </ul>
                    </div>
                </div>
                <div class="row filters-content">
                    <div class="col-lg-4 col-md-4 fadeIn animated">
                        <a href="#"><img src="images/p1.jpg" class="img-fluid"></a>
                        <div class="profile-datelis">
                            <h2>2D Vinyl Design</h2>
                            <p>vector</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 fadeIn animated">
                        <a href="#"><img src="images/p2.jpg" class="img-fluid"></a>
                        <div class="profile-datelis">
                            <h2>2D Vinyl Design</h2>
                            <p>vector</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 fadeIn animated">
                        <a href="#"><img src="images/p3.jpg" class="img-fluid"></a>
                        <div class="profile-datelis">
                            <h2>2D Vinyl Design</h2>
                            <p>vector</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 fadeIn animated">
                        <a href="#"><img src="images/p4.jpg" class="img-fluid"></a>
                        <div class="profile-datelis">
                            <h2>2D Vinyl Design</h2>
                            <p>vector</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 fadeIn animated">
                        <a href="#"><img src="images/p5.jpg" class="img-fluid"></a>
                        <div class="profile-datelis">
                            <h2>2D Vinyl Design</h2>
                            <p>vector</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 fadeIn animated">
                        <a href="#"><img src="images/p6.jpg" class="img-fluid"></a>
                        <div class="profile-datelis">
                            <h2>2D Vinyl Design</h2>
                            <p>vector</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>  
        <section id="price-area">
            <div class="container">
                <div class="row animated fadeInRight d-flex justify-content-center">
                    <div class="menu-content pb-70 col-lg-8">
                        <div class="title text-center">
                            <h1 class="mb-10">Choose Your Plan</h1>
                            <p>When someone does something that they know that they shouldn’t do, did they.</p>
                        </div>
                    </div>
                </div>
                <div class="row price-box">
                    <div class="col-lg-3 col-md-6 single-price">
                        <div class="top-part">
                            <h1 class="package-no">01</h1>
                            <h4>Economy</h4>
                            <p class="mt-10">For the individuals</p>
                        </div>
                        <div class="package-list">
                            <ul>
                                <li>Secure Online Transfer</li>
                                <li>Unlimited Styles for interface</li>
                                <li>Reliable Customer Service</li>
                            </ul>
                        </div>
                        <div class="bottom-part">
                            <h1>£199.00</h1>
                            <a class="price-btn text-uppercase" href="#">Buy Now</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 single-price">
                        <div class="top-part">
                            <h1 class="package-no">02</h1>
                            <h4>Business</h4>
                            <p class="mt-10">For the individuals</p>
                        </div>
                        <div class="package-list">
                            <ul>
                                <li>Secure Online Transfer</li>
                                <li>Unlimited Styles for interface</li>
                                <li>Reliable Customer Service</li>
                            </ul>
                        </div>
                        <div class="bottom-part">
                            <h1>£299.00</h1>
                            <a class="price-btn text-uppercase" href="#">Buy Now</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 single-price">
                        <div class="top-part">
                            <h1 class="package-no">03</h1>
                            <h4>Premium</h4>
                            <p class="mt-10">For the individuals</p>
                        </div>
                        <div class="package-list">
                            <ul>
                                <li>Secure Online Transfer</li>
                                <li>Unlimited Styles for interface</li>
                                <li>Reliable Customer Service</li>
                            </ul>
                        </div>
                        <div class="bottom-part">
                            <h1>£399.00</h1>
                            <a class="price-btn text-uppercase" href="#">Buy Now</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 single-price">
                        <div class="top-part">
                            <h1 class="package-no">04</h1>
                            <h4>Exclusive</h4>
                            <p class="mt-10">For the individuals</p>
                        </div>
                        <div class="package-list">
                            <ul>
                                <li>Secure Online Transfer</li>
                                <li>Unlimited Styles for interface</li>
                                <li>Reliable Customer Service</li>
                            </ul>
                        </div>
                        <div class="bottom-part">
                            <h1>£499.00</h1>
                            <a class="price-btn text-uppercase" href="#">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>   
        <section id="blog">
            <div class="container">
                <div class="row">
                    <div class="menu-content pb-70 col-lg-8">
                        <div class="title text-center">
                            <h1 class="mb-10">Choose Your Plan</h1>
                            <p>When someone does something that they know that they shouldn’t do, did they.</p>
                        </div>
                    </div>
                    <div class="row mt-4 mb-4">
                        <div class="col-lg-4 col-lg-4">
                            <div class="media blog-thumb">
                                <div class="media-object media-left">
                                    <a href="#"><img src="images/b1.jpg" class="img-responsive img-fluid" alt=""></a>
                                    <div class="blog-content">
                                        <h3>Break Through Self Doubt And Fear</h3>
                                        <p>Dream interpretation has many forms; it can be done be done for the sake of fun, hobby or can be taken up as a serious
                                        career.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-lg-4">
                            <div class="media blog-thumb">
                                <div class="media-object media-left">
                                    <a href="#"><img src="images/b2.jpg" class="img-responsive img-fluid" alt=""></a>
                                    <div class="blog-content">
                                        <h3>Portable Fashion for young women</h3>
                                        <p>You may be a skillful, effective employer but if you don’t trust your personnel and the opposite, then the chances of
                                        improving.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-lg-4">
                            <div class="media blog-thumb">
                                <div class="media-object media-left">
                                    <a href="#"><img src="images/b3.jpg" class="img-responsive img-fluid" alt=""></a>
                                    <div class="blog-content">
                                        <h3>Do Dreams Serve As
                                            A Premonition</h3>
                                        <p>So many of us are demotivated to achieve anything. Such people are not enthusiastic about anything </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </section>
    <% include /src/include/footer.ejs %>
    <% include /src/include/scripts.ejs %>
    <script>
            $(document).ready(function () {
                    var itemsMainDiv = ('.MultiCarousel');
                    var itemsDiv = ('.MultiCarousel-inner');
                    var itemWidth = "";

                    $('.leftLst, .rightLst').click(function () {
                        var condition = $(this).hasClass("leftLst");
                        if (condition)
                            click(0, this);
                        else
                            click(1, this)
                    });

                    ResCarouselSize();




                    $(window).resize(function () {
                        ResCarouselSize();
                    });

                    //this function define the size of the items
                    function ResCarouselSize() {
                        var incno = 0;
                        var dataItems = ("data-items");
                        var itemClass = ('.item');
                        var id = 0;
                        var btnParentSb = '';
                        var itemsSplit = '';
                        var sampwidth = $(itemsMainDiv).width();
                        var bodyWidth = $('body').width();
                        $(itemsDiv).each(function () {
                            id = id + 1;
                            var itemNumbers = $(this).find(itemClass).length;
                            btnParentSb = $(this).parent().attr(dataItems);
                            itemsSplit = btnParentSb.split(',');
                            $(this).parent().attr("id", "MultiCarousel" + id);


                            if (bodyWidth >= 1200) {
                                incno = itemsSplit[3];
                                itemWidth = sampwidth / incno;
                            }
                            else if (bodyWidth >= 992) {
                                incno = itemsSplit[2];
                                itemWidth = sampwidth / incno;
                            }
                            else if (bodyWidth >= 768) {
                                incno = itemsSplit[1];
                                itemWidth = sampwidth / incno;
                            }
                            else {
                                incno = itemsSplit[0];
                                itemWidth = sampwidth / incno;
                            }
                            $(this).css({ 'transform': 'translateX(0px)', 'width': itemWidth * itemNumbers });
                            $(this).find(itemClass).each(function () {
                                $(this).outerWidth(itemWidth);
                            });

                            $(".leftLst").addClass("over");
                            $(".rightLst").removeClass("over");

                        });
                    }


                    //this function used to move the items
                    function ResCarousel(e, el, s) {
                        var leftBtn = ('.leftLst');
                        var rightBtn = ('.rightLst');
                        var translateXval = '';
                        var divStyle = $(el + ' ' + itemsDiv).css('transform');
                        var values = divStyle.match(/-?[\d\.]+/g);
                        var xds = Math.abs(values[4]);
                        if (e == 0) {
                            translateXval = parseInt(xds) - parseInt(itemWidth * s);
                            $(el + ' ' + rightBtn).removeClass("over");

                            if (translateXval <= itemWidth / 2) {
                                translateXval = 0;
                                $(el + ' ' + leftBtn).addClass("over");
                            }
                        }
                        else if (e == 1) {
                            var itemsCondition = $(el).find(itemsDiv).width() - $(el).width();
                            translateXval = parseInt(xds) + parseInt(itemWidth * s);
                            $(el + ' ' + leftBtn).removeClass("over");

                            if (translateXval >= itemsCondition - itemWidth / 2) {
                                translateXval = itemsCondition;
                                $(el + ' ' + rightBtn).addClass("over");
                            }
                        }
                        $(el + ' ' + itemsDiv).css('transform', 'translateX(' + -translateXval + 'px)');
                    }

                    //It is used to get some elements from btn
                    function click(ell, ee) {
                        var Parent = "#" + $(ee).parent().attr("id");
                        var slide = $(Parent).attr("data-slide");
                        ResCarousel(ell, Parent, slide);
                    }

                });


    </script>
</body>
</html>