<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="single-footer-widget">
                    <h4>About Me</h4>
                    <p>
                        We have tested a number of registry fix and clean utilities and present our top 3 list on our
                        site for your convenience.
                    </p>
                    <p class="footer-text">
                        Copyright ©
                        <script type="text/javascript" async=""
                            src="https://www.google-analytics.com/analytics.js"></script>
                        <script type="text/javascript">document.write(new Date().getFullYear());</script>2020 All rights
                        reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                            href="https://colorlib.com" target="_blank">Colorlib</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 new-follow new-letter">
                <div class="single-footer-widget">
                    <h4>Newsletter</h4>
                    <p>Stay updated with our latest trends</p>
                    <div class="" id="mc_embed_signup">
                        <form target="_blank"
                            action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                            method="get" novalidate="true">
                            <div class="input-group">
                                <input type="text" class="form-control" name="EMAIL" placeholder="Enter Email Address"
                                    onfocus="if (!window.__cfRLUnblockHandlers) return false; this.placeholder = ''"
                                    onblur="if (!window.__cfRLUnblockHandlers) return false; this.placeholder = 'Enter Email Address '"
                                    required="">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <span class="lnr lnr-arrow-right"><i
                                                class="fas fa-long-arrow-alt-right"></i></span>
                                    </button>
                                </div>
                                <div class="info"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 social-widget new-follow">
                <div class="single-footer-widget">
                    <h4>Follow Me</h4>
                    <p>Let us be social</p>
                    <div class="footer-social d-flex align-items-center">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-dribbble"></i></a>
                        <a href="#"><i class="fab fa-behance"></i></a>
                        <!-- <li><i class="fab fa-facebook"></i></li>
                        <li><i class="fab fa-twitter"></i></li>
                        <li><i class="fab fa-linkedin"></i></li>
                        <li><i class="fa fa-rss"></i></li>
                        <li><i class="fab fa-dribbble"></i></li> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
